$msc-account-welcome-title-margin-bottom: 40px;
$msc-account-welcome-title-margin-top:32px;
$msc-account-welcome-title-border-bottom-color: $msv-gray-500;
$msc-account-welcome-title-border-bottom-style: solid;
$msc-account-welcome-title-border-bottom-thickness: 1px;
$msc-account-welcome-title-links-padding-top: 12px;

$msc-account-tile-heading-icon-padding: 5px;

$msc-generic-tile-heading-margin-bottom: 0.5rem;

.button-style-spring {
  color: green;
}
